<%if false %><% if @over_ten %>
  <%= link_to '以前のメッセージ', '?m=all'%>
<% end %><% end %>
<!--メッセージが10件以上あれば以前のメッセージへのリンクを表示する-->
  <% @messages.each do |message| %>
    <% if message.body.present? %>
      <div class = "balloon_container">
      <% if current_user.id == message.user.id %>
        <div class = "balloon_right"><!--吹き出しを右にする。-->
      <% else %>
        <div class = "balloon_left"><!--吹き出しを左にする-->
      <% end %>
          <div class = "content">
            <div class = "header"><%= message.message_time %><strong><%= message.user.name %></strong></div>
              <span><%= message.body %></span>
              <div class = "name">
                <%= message.user.name%>
              </div>
            <div>
              <%= link_to image_tag(message.user.picture.url,class:"icon"),user_path(message.user.id) %>
            </div>
              <% if message.user == current_user %>
                <%= message.read ? '既読' : '未読' %>
                <td><%= link_to '削除',conversation_message_path(id: message.id), method: :delete %></td>
                <!--trueは既読,falseなら未読-->
              <% end %>
          </div>
        </div>
        </div>
    <% end %>
  <% end %>


<%= form_with(model: [@conversation, @message]) do |f| %>
<!--会話にひもづくメッセージの入力フォームを生成する-->
  <div class = "field">
    <%= f.text_area :body,class: "form-control"%>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"%>
  </div>
  <div>
    <%= f.submit "メッセージを送る"%>
  </div>
<% end %>



<% if false%>
<div class = "ui segment">
  <% @messages.each do |message| %>
    <% if message.body.present? %>
    <!--メッセージを1件ずつ抽出してメッセージの内容があればユーザ名と内容を表示する-->
      <div class ="item">
        <div class = "content">
          <div class = "header"><strong><%= message.user.name %></strong> <%= message.message_time %></div>
          <div class = "list">
            <div class = "item">
              <i class = "right triange icon"></i>
              <%= message.body %>
              <% if message.user == current_user %>
                <%= message.read ? '既読' : '未読' %>
                <!--tureは既読,falseなら未読-->
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>