<%= form_with(model: [supply,comment_supply]) do |form| %>
  <% if comment_supply.errors.any? %>
    <div id = "error_explanation">
      <h2><%= pluralize(comment_supplies.errors.count, "error") %>prohibited this comment from being saved:</h2>
      <ul>
      <% comment_supply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class = "actions">
    <button type="submit" class="btn btn-primary">コメント送信</button>
  </div>
<% end %>