<h1>ユーザー一覧</h1>

<%= search_form_for @search do |f| %>
  <%= f.label :name, "名前" %>
  <%= f.search_field :name_cont %>
  <!--name_contはnameカラムの単語の一部分を含んで検索する。-->
  <%= f.label :region, "地域"%>
  <%= f.select :region_eq, "": "", "北海道": 1, "青森": 2, "岩手": 3, "宮城": 4, "秋田":5, "山形":6, "福島":7, "茨城":8, "栃木":9, "群馬":10,
                                  "埼玉": 11, "千葉":12, "東京":13, "神奈川":14, "新潟":15, "富山":16, "石川":17, "福井":18, "山梨":19,"長野":20,
                                  "岐阜":21, "静岡":22, "愛知":23, "三重":24, "滋賀":25, "京都":26, "大阪":27, "兵庫":28, "奈良":29, "和歌山":30,
                                  "鳥取":31, "島根":32, "岡山":33, "広島":34, "山口":35, "徳島":36, "香川":37, "愛媛":38, "高知":39, "福岡":40,
                                  "佐賀":41, "長崎":42, "熊本":43, "大分":44, "宮崎":45, "鹿児島":46, "沖縄":47 %>
      
  <button type="submit" class="btn btn-primary">検索</button>
<% end %>

<table class = "table">
  <tr>
    <th><%= sort_link(@search, :name) %></th>
    <th>写真</th>
    <th><%= sort_link(@search, :region) %></th>
    <th>メールアドレス</th>
  </tr>
  
<% @users.each do |user| %>

  <tr>
    <td><%= user.name %></td>
    <td><%= image_tag(user.picture.url) if user.picture && user.picture.url  %></td>
    <td><%= display_region(user.region) %></td>
    <td><%= user.email %></td>
    <td><%= link_to '詳細', user_path(user.id),class:"btn btn-primary"%></td>
    <% if current_user.id == user.id %>
    <td><%= link_to 'マイページ編集', edit_user_registration_path(user.id),class:"btn btn-success"%></td>
    <% end %>
    <% if current_user.id != user.id%>
    <td><%= link_to 'メッセージ',conversations_path(sender_id: current_user.id,recipient_id: user.id), method: :post,class:"btn btn-warning"%></td>
    <% end %>
  </tr>
<% end %>
</table>

<%= paginate @users%>