<h1><%=@user.name%>のプロフィール</h1>

<p>名前:<%= @user.name %></p>
<p>メールアドレス:<%= @user.email%></p>
<p>写真<br><%= image_tag(@user.picture.url) if @user.picture && @user.picture.url %></p>
<p>地域:<%= display_region(@user.region) %></p>
<p>自己紹介文:<%= @user.introduction %></p>

<%= link_to 'メッセージ一覧',conversations_path %>
<%= link_to 'プロフィール編集',edit_user_registration_path %>