<h2><%= @user.name%>さんのプロフィール</h2>
<br><br><br><br><br><br><br><br><br><br>

<div class = "panel panel-success">
  <div class = "panel-heading">ユーザー情報</div>
  <div class = "panel_body">
    <p><%= image_tag(@user.picture.url,id: :img_prev) if @user.picture && @user.picture.url %></p>
    <p><strong>名前:</strong><%= @user.name %></p>
    <p><strong>地域:</strong><%= display_region(@user.region) %></p>
    <p><strong>自己紹介</strong></p>
    <p><%= @user.introduction %></p>
  </div>
</div>

<%= link_to 'プロフィール編集',edit_user_registration_path,class:"btn btn-warning" if current_user.id == @user.id  %>
   <% if current_user.id != @user.id%>
    <td><%= link_to 'メッセージ',conversations_path(sender_id: current_user.id,recipient_id: @user.id), method: :post,class:"btn btn-warning"%></td>
    <% end %>
