<%= form_with(model: @demand, local: true, url: choose_new_or_edit_demands ) do |form| %>
  <% if @demand.errors.any? %>
    <div id="error_explanation">
      <h2><%= @demand.errors.count %>件のエラーがあります</h2>
      <ul>
      <% @demand.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "demand_title" >
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class = "demand_content">
    <%= form.label :content%>
    <%= form.text_field :content %>
  </div>
  <div class = "demand_picture">
    <%= form.label :picture %>
    <!-- 確認画面から新規作成画面に戻った時にアップロードした画像を表示させるための記述-->
    <%= image_tag(@demand.picture.url) if @demand.picture && @demand.picture.url %>
    <%= form.file_field :picture %>
    <%= form.hidden_field :picture_cache %>
  </div>
  <%= form.submit %>
<% end %>
