<%= form_with(model: @demand, local: true, url: choose_new_or_edit_demands ) do |form| %>
  <% if @demand.errors.any? %>
    <div id="error_explanation">
      <div class = "panel panel-danger">
        <div class = "panel-heading">
          <h2><%= @demand.errors.count %>件のエラーがあります</h2>
        </div>
      <ul>
      <% @demand.errors.full_messages.each do |msg| %>
        <div class = "panel-body">
          <h4><%= msg %></h4>
        </div>
      <% end %>
      </div>
    </div>
      </ul>    
  <% end %>

  <div class = "demand_title" >
    <%= form.label :title %>
    <%= form.text_area :title %>
  </div>
  <div class = "demand_content">
    <%= form.label :content%>
    <%= form.text_area :content %>
  </div>

  <div class = "demand_picture">
    <%= form.label :picture %>
    <!-- 確認画面から新規作成画面に戻った時にアップロードした画像を表示させるための記述-->
    <div class = "default_field">
    <%= image_tag(@demand.picture.url,id: :img_prev) if @demand.picture && @demand.picture.url %>
    </div>
    <div class = "demand_picture2">
    <%= form.file_field :picture %>
    <%= form.hidden_field :picture_cache %>
    </div>
  <div class="field">
    <% Label.all.each do |label| %>
    <%= form.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
    <!--f.check_box:label_idsとは...."label_ids"=>["1","2","4","8"]のような形のハッシュキーを持つパラメータが送れる-->
    <!--mutipleとは...複数チェックボックスで配列形式のパラメータを送れる-->
    <!--checked:label[:checked],disabled:label[:disabled]の記述でチェックがついたときに(label[:id]に入っている値を送れる)-->
    <!--include_hidden:falseは、チェックのつかなかったラベルの値を送信しないようにする記述。-->
    <label class='badge badge-secondary'><%= label.category %></label>
    <% end %>
  </div>

  <button type="submit" class="btn btn-primary">投稿</button>
<% end %>
