<% if current_user.try(:admin?) %>
  <h1>困り事一覧(管理者でログインしています。)</h1>
<% else %>
<h1>困り事一覧</h1>
<% end %>

<%if flash[:notice]%>
  <div class="alert alert-success" role="alert">
    <p><%= notice %></p>
  </div>
<% end %>

  <%= search_form_for @search do |f| %>
    <%= f.label :title, "タイトル" %>
    <%= f.search_field :title_cont %>
    <%= f.label :user_name_cont, "ユーザー名"%>
    <%= f.search_field :user_name_cont %>
    <%= f.label :label_id, "カデゴリ"%>
      <% Label.all.each do |label| %>
      <%= f.check_box :labels_id_eq_any, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
      <label class='badge badge-secondary'><%= label.category %></label>
      <% end %>
      
    <!-- f.check_box :label_ids_cont, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id]-->
    <!--f.check_box:label_idsとは...."label_ids"=>["1","2","4","8"]のような形のハッシュキーを持つパラメータが送れる-->
    <!--mutipleとは...複数チェックボックスで配列形式のパラメータを送れる-->
    <!--checked:label[:checked],disabled:label[:disabled]の記述でチェックがついたときに(label[:id]に入っている値を送れる)-->
    <!--include_hidden:falseは、チェックのつかなかったラベルの値を送信しないようにする記述。-->
  <button type="submit" class="btn btn-primary">検索</button>
  <% end %>


<table class = "table table-striped">
  <tr>
    <th><%= sort_link(@search, :user_name,"投稿者") %></th>
    <th><%= sort_link(@search, :title,"タイトル") %></th>
    <th>写真</th>
    <th>カデゴリ</th>
  </tr>

<% @demands.each do |demand| %>
  <tr>
    <td><%= demand.user.name%></td>
    <td><%= demand.title %></td>
    <td><%= image_tag(demand.picture.url,id: :img_prev) if demand.picture && demand.picture.url %></td>
    <td>
      <% demand.labels.each do |label| %>
        <p><%= label.category%></p>
      <% end %>
    </td>
    <td><%= link_to '詳細',demand_path(demand.id),class:"btn btn-primary" %></td>
    <% if current_user.id == demand.user_id %>
      <td><%= link_to '編集', edit_demand_path(demand.id) ,class:"btn btn-success" %></td>
      <td><%= link_to '削除',demand_path(demand.id),class:"btn btn-danger",method: :delete  %></td>
    <% end %>
  </tr>
<% end %>
</table>

<%= link_to '新しく困り事を投稿する', new_demand_path %>
<%= link_to '困り事投稿お気に入り一覧へ',favorite_demands_path %>
<%= paginate @demands %>