<h1>悩み事一覧</h1>
<p><%= notice %></p>
<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
    <th>イメージ写真</th>
    <th>地域</th>
    <th>カテゴリ</th>
  </tr>

<% @demands.each do |demand| %>
  <tr>
    <td><%= demand.title %></td>
    <td><%= demand.content %></td>
    <td><%= image_tag(demand.picture.url) %></td>

    <td><%= link_to '詳細を確認する',demand_path(demand.id) %></td>
    <td><%= link_to '悩み事を編集する', edit_demand_path(demand.id) %></td>
    <td><%= link_to '悩み事を削除する',demand_path(demand.id),method: :delete ,data: { confirm: '本当に削除しますか?' } %></td>
    
  </tr>
<% end %>
</table>

<%= link_to '新しく悩み事を投稿する', new_demand_path %>