<h1>困り事詳細</h1>
<p>タイトル: <%= @demand.title %></p>
<p>内容: <%= @demand.content %></p>
<p>イメージ写真: <%= image_tag @demand.picture.url if @demand.picture && @demand.picture.url%></p>

<% unless @demand.user_id == current_user.id %><!--demand投稿主のuseridと現在ログインのuseridが同じでなければお気に入りボタン表示-->
  <% if @favorite_demand.present? %><!--@favorite_demandがnilでなければお気に入り解除ボタン-->
    <%= link_to 'お気に入り解除', favorite_demand_path(id: @favorite_demand.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorite_demands_path(demand_id: @demand.id),method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>
<br>
<%= link_to 'メッセージ',conversations_path(sender_id: current_user.id,recipient_id: @demand.user_id), method: :post if @demand.user_id != current_user.id%>




<br><br><br><br>
<p>コメント一覧</p>
<div id = "comment_demands_area">
  <!--投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'comment_demands/index',locals: { comment_demands: @comment_demands,demand: @demand} %>
</div>
<!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
<%= render partial: 'comment_demands/form', locals: { comment_demand: @comment_demand,demand: @demand} %>

