<h1>スキル投稿お気に入り一覧</h1>
<table class = "table">
  <tr> 
    <th>投稿者</th>
    <th>タイトル</th>
    <th>写真</th>
  </tr>

<% @favorite_supplies_supplies.each do |favorite_supplies_supply| %>
  <tr>
    <td><%= favorite_supplies_supply.user.name %></td>
    <td><%= favorite_supplies_supply.title %></td>
    <td><%= image_tag(favorite_supplies_supply.picture.url,id: :img_prev) if favorite_supplies_supply.picture && favorite_supplies_supply.picture.url %></td>
    <td><%= link_to '詳細',supply_path(favorite_supplies_supply.id),class: "btn btn-primary"%></td>
  </tr>
<% end %>
</table>
<p><%= link_to 'スキル一覧へ',supplies_path %></p>