<%= form_with(model: @supply, local: true, url: choose_new_or_edit_supplies ) do |form| %>
  <% if @supply.errors.any? %>
    <div id = "error_explanation">
      <h2><%= @supply.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @supply.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "supply_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class = "supply_content">
    <%= form.label :content %>
    <%= form.text_field :content%>
  </div>
  <div class = "supply_picture">
    <%= form.label :picture %>
    <!--確認画面から新規作成画面に戻った時に、アップロードした画像を表示させるための記述-->
    <%= image_tag(@supply.picture.url) if @supply.picture && @supply.picture.url %>  
    <!-- です。-->
    <%= form.file_field :picture %>
    <%= form.hidden_field :picture_cache %>
  </div>
    <div class="field">
    <% Label.all.each do |label| %>
    <%= form.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
    <!--f.check_box:label_idsとは...."label_ids"=>["1","2","4","8"]のような形のハッシュキーを持つパラメータが送れる-->
    <!--mutipleとは...複数チェックボックスで配列形式のパラメータを送れる-->
    <!--checked:label[:checked],disabled:label[:disabled]の記述でチェックがついたときに(label[:id]に入っている値を送れる)-->
    <!--include_hidden:falseは、チェックのつかなかったラベルの値を送信しないようにする記述。-->
    <label class='badge badge-secondary'><%= label.category %></label>
    <% end %>
</div>
  <%= form.submit %>
<% end %>

<%= link_to "スキル一覧画面に戻る", supplies_path %>
    