<h3>以下の内容で、送信!!!</h3>

<%= form_with(model: @supply,url: supplies_path, local: true ) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :picture_cache %>
    <% @supply.label_ids.each do |label| %>
  <%= form.hidden_field :label_ids, multiple: true, value: label %>
  <% end %>

  <p>タイトル:<%= @supply.title %></p>
  <p>内容:<%= @supply.content %></p>
  <!--確認画面でアップロードした画像を表示させるための記述-->
  <p><%= image_tag(@supply.picture.url,id: :img_prev)if @supply.picture && @supply.picture.url %></p>
  <p><%@supply.labels.each do |label|%><%= label.category%><%="。"%><% end %></p>
  <button type="submit" class="btn btn-primary">投稿</button>
  <% end %>

  <!--<%= link_to '戻る', :back %>--><!--これだと、戻った時に入力内容が初期化される-->
  <%= form_with(model: @supply, url: new_supply_path, local: true, method: "get") do |form|%>
  <%= form.hidden_field :picture_cache %>
<%= form.submit "戻る", name: 'back' %>
  <% end %>