<% if current_user.try(:admin?) %>
  <h1>スキル一覧(管理者でログインしています)</h1>
<% else %>
<h1>スキル一覧</h1>
<% end %>
<p><%= notice %></p>

  <%= search_form_for @search do |f| %>
    <%= f.label :title, "タイトル" %>
    <%= f.search_field :title_cont %>
    <%= f.label :user_name_cont, "ユーザー名"%>
    <%= f.search_field :user_name_cont %>
    
    <%= f.label :label_id, "ラベル"%>
      <% Label.all.each do |label| %>
      <%= f.check_box :labels_id_eq_any, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
      <label class='badge badge-secondary'><%= label.category %></label>
      <% end %>
    <!-- f.check_box :label_ids_cont, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id]-->
    <!--f.check_box:label_idsとは...."label_ids"=>["1","2","4","8"]のような形のハッシュキーを持つパラメータが送れる-->
    <!--mutipleとは...複数チェックボックスで配列形式のパラメータを送れる-->
    <!--checked:label[:checked],disabled:label[:disabled]の記述でチェックがついたときに(label[:id]に入っている値を送れる)-->
    <!--include_hidden:falseは、チェックのつかなかったラベルの値を送信しないようにする記述。-->
    <%= f.submit %>
  <% end %>

<table>
  <tr>
    <th><%= sort_link(@search, :name,"投稿者") %></th>
    <th><%= sort_link(@search, :title,"タイトル") %></th>
    <th>内容</th>
    <th>写真</th>
    <th>ラベル</th>
  </tr>

<% @supplies.each do |supply| %>
  <tr>
    <td><%= supply.user.name%></td>
    <td><%= supply.title %></td>
    <td><%= supply.content %></td>
    <td><%= image_tag(supply.picture.url)if supply.picture && supply.picture.url %></td>
      <% supply.labels.each do |label| %>
        <td><%= label.category%></td>
      <% end %>

    <td><%= link_to '詳細', supply_path(supply.id) %></td>
    <td><%= link_to '編集',edit_supply_path(supply.id),data: { confirm: '本当に編集しますか?'} if current_user.id == supply.user.id%></td>
    <td><%= link_to '削除', supply_path(supply.id), method: :delete, data: { confirm: '本当に削除しますか? '} if current_user.id == supply.user.id%></td>
  </tr>
<% end %>
</table>

<%= link_to 'スキルを投稿する', new_supply_path %>
<%= link_to 'スキル投稿お気に入り一覧へ',favorite_supplies_path %>
<%= paginate @supplies %>