<% if current_user.try(:admin?) %>
  <h1>スキル一覧(管理者でログインしています)</h1>
<% else %>
<h1>スキル一覧</h1>
<% end %>
<p><%= notice %></p>

<table>
  <tr>
    <th>投稿者</th>
    <th>タイトル</th>
    <th>内容</th>
    <th>写真</th>
  </tr>

<% @supplies.each do |supply| %>
  <tr>
    <td><%= supply.user.name%></td>
    <td><%= supply.title %></td>
    <td><%= supply.content %></td>
    <td><%= image_tag(supply.picture.url)if supply.picture && supply.picture.url %></td>

    <td><%= link_to '詳細', supply_path(supply.id) %></td>
    <td><%= link_to '編集',edit_supply_path(supply.id),data: { confirm: '本当に編集しますか?'} if current_user.id == supply.user.id%></td>
    <td><%= link_to '削除', supply_path(supply.id), method: :delete, data: { confirm: '本当に削除しますか? '} if current_user.id == supply.user.id%></td>
  </tr>
<% end %>
</table>

<%= link_to 'スキルを投稿する', new_supply_path %>
<%= link_to 'スキル投稿お気に入り一覧へ',favorite_supplies_path %>