<h1>スキル詳細画面</h1>
<p>タイトル: <%= @supply.title %></p>
<p>内容: <%= @supply.content %></p>
<p>写真: <%= image_tag @supply.picture.url %></p>

<% unless @supply.user_id == current_user.id %>
  <% if @favorite_supply.present? %>
    <%= link_to 'お気に入り解除',favorite_supply_path(id: @favorite_supply.id),method: :delete, class: 'btn btn-danger'%>
  <% else %>
    <%= link_to 'お気に入り登録',favorite_supplies_path(supply_id: @supply.id),method: :post,class: 'btn btn-primary' %>
  <% end %>
<% end %>
<br><br><br>
<strong>コメント一覧</strong>
<div id = "comment_supplies_area">
  <!--投稿されたコメント一覧をスキルの詳細ページに表示するためのrnder -->
  <%= render partial: "comment_supplies/index",locals: { comment_supplies: @comment_supplies, supply: @supply }%> 
                                        <!--commnet_suppliesはrender先に引き渡す-->  <!--@comment_suppliesと@supplyはsuppliesコントローラーからきてる -->
</div>

<!--コメント入力欄をスキルの詳細ページに表示するためのrender -->
<%= render partial: "comment_supplies/form",locals: { comment_supply: @comment_supply, supply: @supply }%>
